## Python Bootcamp

### What you will learn

* Common Data Types in Python
* Operators

## Python Basic Data Types
|Data Types|Description|Examples|
|:----|:-----|:----|
|**Integers**|Whole numbers|2     600     -200|
|**Floating point**|Numbers with a decimal point|6.2     1.5    40.0|
|**Strings**|Ordered sequence of characters|"hello"   'Sammy'   "2000"  "أهلا"|
|**Booleans**|Logical value|True or False|

## Basic Arithmetics:
|||
|:--|:--:|
|**Addition**|1+3|
|**Subtraction**|1-3|
|**Multiplication**|1*3|
|**Division**|1/3|
|**Floor division**|7//4  (Rounding the integer only)|
|**Remainder**|7%2|
|**Power**|2**3  (2 to the power of 3)|
|**Root**|4**0.5 (4 to the power of 0.5)|
|**Order of Operations**|3 + 5 * 5 + 2  (Parenthesis will change orders (3+5) * (5+2))|

In [ ]:
# Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [ ]:
# Floor Division 
# (Should be 1.75 but we get only the integer part)

7//4

In [ ]:
# Remainder (with % 2 you can check if a number is even)
6 % 2

$2^3$

In [ ]:
# Powers
2**3

$\sqrt{4}$

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

## Variable assignments

In [ ]:
a = 5

In [ ]:
a + a

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a = a + a

In [ ]:
# One employee makes BHD 500 per month, and the bonus percentage is 3%. 
# Calculate the total annual income:

basic_salary =

months =

bouns =

## Variable name rules

* Not to start with number    (Like -> 1mysalary)
* No spaces allowed (use _ instead)    (Like -> my salary    but could be my_salary)
* Not to use these '",<>/?|\()!@#$%^&*~-+
* Not to use words with special meaning in Python like "list" and "str"
* Use small case (PEP8) (my_salary not mySalary)

## Dynamic Typing 

* Reassign variables to different data type
* This makes python very flexible in defining variables.
* **Pros**: Rapid and easy programming
* **Cons**: Could result to errors in defining variables with different data types.

## Determining variable type with `type()`
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
a = 20
# Write type(a) below:

In [ ]:
a = 3.4
# Write type(a) below:

In [ ]:
# Type your name between the double quotations 

your_name = ""

a = "My name is " + your_name
a

In [ ]:
type(a)

## Strings
* Create and Print Strings
* Indexing and Slicing
* Properties and Methods
* Print Formatting

In [ ]:
'hello'

In [ ]:
'This is also a string'

In [ ]:
"String built with double quotes"

In [ ]:
' I'm using single quotes, but this will create an error'

### Indexing and Slicing

* Strings are Ordered sequences, thus we can use indexing and slicing to get parts of the string.
* Indexing uses [ ] after the string (or string variable).
* Indexing allows you to get a single character from the string.

In [ ]:
my_string = 'Python'

||P|y|t|h|o|n|
|:--|:--:|:--:|:--:|:--:|:--:|:--:|
|Index|0|1|2|3|4|5|
|Reverse Index|0|-5|-4|-3|-2|-1|

In [ ]:
# Type my_string[0] below:

In [ ]:
# Type my_string[4] below to get the fifth character:

In [ ]:
# Get the last character

## Test your understanding

Consider having the string `s = 'Bahrain is an island'`

What would be the result of **s[10]** in python ?

In [ ]:
s = 'Bahrain is an island'

### Printing a String

In [ ]:
'Hello World 1'

In [ ]:
'Hello World 1'
'Hello World 2'

In [ ]:
print('Hello World 1')
# Type print("Hello World 2")

In [ ]:
len('Hello World')

In [ ]:
s = 'Hello World and welcome to this course'
# Type len(s) below:

In [ ]:
# Print the s

## Slicing
* Syntax:  **[start:stop:step]**
* Start: Start index
* Stop: Stop index (up to but not include)
* Step: Jump size between characters.

In [ ]:
s = 'Hello World'
s

In [ ]:
s[1:]

In [ ]:
s

In [ ]:
# Type s[:3] below:

In [ ]:
# Each command below gives the same:

print(s)
print(s[:])
print(s[::])
print(s[::1])

In [ ]:
# Type s[::1] below

In [ ]:
# increase the step to 2
s[::1]

In [ ]:
# Reverse the string using -1 for the step
s[::1]

## Immutability

In [ ]:
s = "Hello World"
s

In [ ]:
# Try to change the first charcter to 'x'

## Built in functions & formatting

In [ ]:
s = "heLlO WoRlD"

In [ ]:
# Convert s to lowercase

In [ ]:
# Convert s to uppercase

In [ ]:
# Split a string by blank space (this is the default)

In [ ]:
# Split a string by the letter 'l'

In [ ]:
s

In [ ]:
# Store changes to (s) be re-asigning lower() and split() values

In [ ]:
# Check s value now
s

### Formatting

In [ ]:
s = 'Hello World'
print(s + 'and welcome')

In [ ]:
s = 
print(s)

In [ ]:
s = 'Insert another string with curly brackets: {}'.format('The inserted string')
s

In [ ]:
name = ""
salary = 

s = 

print(s)

In [ ]:
# Now use input() function
name = ""
salary = 

s = 

print(s)

## Booleans

### Comparasion Operators:
||||
|:--:|:--|:--|
|**<**|less than|a < b|
|**>**|greater than|a > b|
|**<=**|less than or equal|a <= b|
|**=>**|greater than or equal|a => b|
|**==**|equal to|a == b|
|**!=**|not equal to|a != b|

In [ ]:
# Set object to be a boolean
a = True
a

In [ ]:
2 > 3

In [ ]:
3 <= 2

In [ ]:
3 == 2.0

In [ ]:
3.0 == 3

In [ ]:
4**0.5 != 2

In [ ]:
# Example
distance = 1000
speed = 200
time = 1.5

Message = "The distance is {} km"

In [ ]:
Message.format(distance)

In [ ]:
Message.format(speed * time)

In [ ]:
# True or False?
Message.format(distance) == Message.format(speed * time)