## Data Structure

#### Basic types of data structures:

|Data Types|Example|Ordered|Mutable|Unique|Important Methods|
|:----|:-----|:----:|:----:|:----:|:----|
|**Lists**|[40,“python",400.2]|&check;|&check;|&cross;|append, count, sort, pop, clear|
|**Tuples**|(20,“python",300.5)|&check;|&cross;|&cross;||
|**Dictionaries**|{“key" : "value" , "name" : “Sam"}|&cross;|&check;|Keys only|get, keys, items, values, pop|
|**Sets**|{“g",“k"}|&cross;|&cross;|&check;||

## Lists  [ ]

In [2]:
# Creating a list is done like this
my_list = [1,2,3]

In [3]:
# You can mix different data types inside it
my_list = ['A string',23,100.232,'o']

In [9]:
# Number of objects inside the list using len()

5

In [83]:
my_list = ['one','two','three',4,5]

In [84]:
# We can apply indexing grab element 0

In [85]:
# And slicing as well
my_list[1:]

['two', 'three', 4, 5]

In [86]:
my_list[:3]

['one', 'two', 'three']

In [87]:
# We can do assignment becuase lists are mutable

In [88]:
# Check my_list now

['New Value', 'two', 'three', 4, 5]

## Tuples ( )

In [ ]:
# We define a tuple like that
my_tuple = (1,2,3)

In [ ]:
# Try indexing

In [ ]:
# Now try assignment (It wont work!)

## List Methods

In [13]:
# Create a new list
list1 = [1,2,3]

In [14]:
# Append to the list 
#Type list1.append('append me!') below

In [15]:
# Check list1
list1

[1, 2, 3]

In [16]:
# Remove object from the list 
# Type list1.pop(0) below

In [17]:
# Check list1

[1, 2, 3]

In [21]:
new_list = ['a','e','x','b','c']
new_list

In [22]:
# Use reverse() to reverse order (this is permanent!)

In [24]:
# Check list1
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort() to sort the list (in this case alphabetical order, but for numbers it will go ascending)

In [ ]:
new_list

# Dictionaries { }

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

In [25]:
# Make a dictionary with {} and colon (:)
my_dict = {'key1':'value1','key2':'value2'}

In [26]:
# Call values by their check key2 value

'value2'

In [35]:
# You can mix different data types inside it (even add a list, tuple or set)

my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [36]:
# Let's call items from the dictionary
my_dict['key1']

123

In [37]:
# Can call an element from the list at key3 by indexing
# Grab item0
my_dict['key3'][0]

'item0'

In [38]:
# Can then even call lists function on that value ex. upper()
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
# Chek key1 value
my_dict['key1']

In [32]:
# Subtract 123 from the key1 value
my_dict['key1'] =

In [33]:
#Check
my_dict['key1']

0

In [93]:
# Create a new empty dictionary
data = {}

In [94]:
# Add: key: animal , value: dog to (data)

In [95]:
# Add another object to (data) key: color, value: white

In [96]:
# Now check (data)
data

{}

### Nested Dictionaries

In [39]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'key2':{'key3':'value'}}}

In [40]:
# Keep calling the keys

'value'

### Dictionary Methods

In [41]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [42]:
# Method to return a list of all keys

dict_keys(['key1', 'key2', 'key3'])

In [46]:
# Method to grab all values

dict_values([1, 2, 3])

## Sets { }

In [12]:
x = set()

In [20]:
# We add to sets with the add() method
x.add(1)

In [21]:
#Show
x

{1}

In [15]:
# Add a different element

In [16]:
x

{1, 2}

In [52]:
# Try to add 1 again

In [53]:
# Check
x

{1, 2}

In [54]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [55]:
# Cast as set to get unique values

{1, 2, 3, 4, 5, 6}